# Data Cleaning for Game Data and Predictions on Multiple Seasons

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import tensorflow as tf
from sklearn.model_selection import train_test_split

go_back = '../data/'

2024-04-12 18:26:54.454060: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
game_stats = pd.read_csv(go_back + 'NBA Player Box Score Stats(1950 - 2022).csv')
make_csv = True

In [3]:
start = 2021
test = start == 2021 #to define if we are making test set or not
end = 2022
game_stats['GAME_DATE'] = pd.to_datetime(game_stats['GAME_DATE'])
game_stats = game_stats[(game_stats['GAME_DATE'] >= '2021-10-01') & (game_stats['GAME_DATE'] <= '2022-04-10')]
game_stats.sort_values('GAME_DATE', ascending = True)

/var/folders/36/2zgp4yys7db_z7vb6yx75ckw0000gn/T/ipykernel_2828/170490819.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  game_stats['GAME_DATE'] = pd.to_datetime(game_stats['GAME_DATE'])

,Unnamed: 0,Season,Game_ID,PLAYER_NAME,Team,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
1252726,196807,2021,22100001,Jevon Carter,BKN,2021-10-19,BKN @ MIL,L,19,0,...,2.0,2.0,0.0,0.0,0.0,1.0,1.0,0,-29.0,1
1257214,14148,2021,22100001,LaMarcus Aldridge,BKN,2021-10-19,BKN @ MIL,L,16,0,...,3.0,3.0,1.0,0.0,1.0,1.0,2.0,1,2.0,1
1248268,921606,2021,22100002,Gary Payton II,GSW,2021-10-19,GSW @ LAL,W,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1
1265956,265284,2021,22100002,Stephen Curry,GSW,2021-10-19,GSW @ LAL,W,36,5,...,9.0,10.0,10.0,3.0,0.0,4.0,1.0,21,4.0,1
1262710,813225,2021,22100001,Patty Mills,BKN,2021-10-19,BKN @ MIL,L,29,7,...,2.0,2.0,2.0,1.0,1.0,0.0,1.0,21,7.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279538,962807,2022,22101226,Immanuel Quickley,NYK,2022-04-10,NYK vs. TOR,W,42,12,...,9.0,10.0,12.0,0.0,0.0,3.0,2.0,34,23.0,1
1284719,76018,2022,22101219,Keita Bates-Diop,SAS,2022-04-10,SAS @ DAL,L,14,3,...,2.0,4.0,1.0,0.0,0.0,0.0,0.0,8,-1.0,1
1286896,1250722,2022,22101218,Lindell Wigginton,MIL,2022-04-10,MIL @ CLE,L,40,7,...,2.0,3.0,8.0,1.0,0.0,2.0,4.0,18,-14.0,1
1292289,96815,2022,22101228,Saddiq Bey,DET,2022-04-10,DET @ PHI,L,13,2,...,2.0,3.0,2.0,0.0,0.0,0.0,0.0,5,10.0,1
1293259,770420,2022,22101216,T.J. McConnell,IND,2022-04-10,IND @ BKN,L,31,5,...,3.0,3.0,5.0,3.0,0.0,0.0,3.0,14,7.0,1

In [4]:
game_stats.columns

Index(['Unnamed: 0', 'Season', 'Game_ID', 'PLAYER_NAME', 'Team', 'GAME_DATE',
       'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [5]:
columns_to_sum = ['FGM', 'FGA', 'FG3M', 'FG3A', 
                  'FTM', 'FTA', 'OREB', 'DREB', 'REB', 
                  'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']
#The statistics that we want to aggregate on for predictions

In [6]:
unique_teams = game_stats.Team.unique()
#Creates dictionsary for each player on every unique team
team_dataframes = {}
for team in unique_teams:
    team_df = game_stats[game_stats['Team'] == team].copy()
    team_dataframes[team] = team_df

team_dataframes['LAL'].sort_values('GAME_DATE', ascending = True)

,Unnamed: 0,Season,Game_ID,PLAYER_NAME,Team,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
1240973,33671,2021,22100002,Carmelo Anthony,LAL,2021-10-19,LAL vs. GSW,L,26,3,...,4.0,4.0,2.0,0.0,0.0,1.0,2.0,9,-5.0,1
1255758,82208,2021,22100002,Kent Bazemore,LAL,2021-10-19,LAL vs. GSW,L,31,3,...,2.0,2.0,0.0,0.0,1.0,1.0,4.0,8,10.0,1
1258579,824954,2021,22100002,Malik Monk,LAL,2021-10-19,LAL vs. GSW,L,19,2,...,3.0,3.0,1.0,2.0,0.0,1.0,1.0,6,-10.0,1
1238762,130899,2021,22100002,Avery Bradley,LAL,2021-10-19,LAL vs. GSW,L,8,2,...,0.0,1.0,1.0,0.0,0.0,1.0,2.0,6,1.0,1
1246546,545571,2021,22100002,Dwight Howard,LAL,2021-10-19,LAL vs. GSW,L,13,1,...,6.0,6.0,0.0,0.0,0.0,2.0,2.0,5,-7.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292996,612546,2022,22101220,Stanley Johnson,LAL,2022-04-10,LAL @ DEN,W,46,5,...,8.0,8.0,3.0,0.0,0.0,2.0,4.0,15,4.0,1
1287533,824879,2022,22101220,Malik Monk,LAL,2022-04-10,LAL @ DEN,W,35,14,...,3.0,4.0,1.0,0.0,0.0,3.0,2.0,41,-5.0,1
1295710,396997,2022,22101220,Wenyen Gabriel,LAL,2022-04-10,LAL @ DEN,W,38,6,...,5.0,10.0,3.0,0.0,2.0,0.0,4.0,14,14.0,1
1293356,542794,2022,22101220,Talen Horton-Tucker,LAL,2022-04-10,LAL @ DEN,W,13,3,...,0.0,1.0,3.0,0.0,1.0,1.0,1.0,10,-2.0,1
1287302,769655,2022,22101220,Mac McClung,LAL,2022-04-10,LAL @ DEN,W,22,2,...,3.0,3.0,1.0,1.0,1.0,2.0,5.0,6,9.0,1

In [7]:
#groups by team and date played for each unique team
team_daily_stats = {}
for df in team_dataframes:
    team_daily_stats_df = team_dataframes[df].groupby(['GAME_DATE', 'Team', 'WL'])[columns_to_sum].sum().reset_index()
    team_daily_stats_df['win'] = (team_daily_stats_df['WL'] == 'W').astype(int)
    team_daily_stats[df] = team_daily_stats_df.drop(['WL'], axis = 1)
team_daily_stats['LAL'].sort_values('GAME_DATE', ascending = True)

,GAME_DATE,Team,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,win
0,2021-10-19,LAL,45,95.0,15.0,42.0,9,19.0,5.0,40.0,45.0,21.0,7.0,4.0,17.0,25.0,114,0
1,2021-10-22,LAL,34,86.0,15.0,34.0,22,29.0,12.0,34.0,46.0,25.0,7.0,3.0,16.0,26.0,105,0
2,2021-10-24,LAL,45,84.0,16.0,30.0,15,22.0,9.0,27.0,36.0,29.0,10.0,12.0,17.0,14.0,121,1
3,2021-10-26,LAL,50,105.0,8.0,30.0,17,22.0,9.0,47.0,56.0,20.0,8.0,10.0,13.0,21.0,125,1
4,2021-10-27,LAL,46,92.0,11.0,35.0,12,14.0,10.0,30.0,40.0,29.0,8.0,2.0,17.0,22.0,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2022-04-03,LAL,49,92.0,6.0,20.0,14,21.0,6.0,34.0,40.0,31.0,4.0,5.0,12.0,25.0,118,0
78,2022-04-05,LAL,39,86.0,9.0,29.0,23,30.0,7.0,39.0,46.0,22.0,7.0,3.0,16.0,14.0,110,0
79,2022-04-07,LAL,37,83.0,9.0,32.0,29,38.0,8.0,34.0,42.0,14.0,8.0,4.0,18.0,13.0,112,0
80,2022-04-08,LAL,41,82.0,9.0,31.0,29,39.0,7.0,38.0,45.0,23.0,8.0,4.0,9.0,17.0,120,1
81,2022-04-10,LAL,44,94.0,16.0,43.0,42,47.0,13.0,37.0,50.0,26.0,4.0,6.0,13.0,24.0,146,1

In [8]:
season_team_daily_stats = {}

start_month = 10
end_month = 4

start_year = start
end_year = end

for year in range(start_year, end_year + 1):
    start_date = f"{year}-{start_month:02d}-01"
    end_date = f"{year + 1}-{end_month:02d}-10"
    year_stats = {}

    for team, df in team_daily_stats.items():
        year_df = df[(df['GAME_DATE'] >= start_date) & (df['GAME_DATE'] <= end_date)]
        year_stats[team] = year_df
    
    season_team_daily_stats[year] = year_stats

In [9]:
season_team_daily_stats[start]['LAL']

,GAME_DATE,Team,FGM,FGA,FG3M,FG3A,FTM,FTA,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,win
0,2021-10-19,LAL,45,95.0,15.0,42.0,9,19.0,5.0,40.0,45.0,21.0,7.0,4.0,17.0,25.0,114,0
1,2021-10-22,LAL,34,86.0,15.0,34.0,22,29.0,12.0,34.0,46.0,25.0,7.0,3.0,16.0,26.0,105,0
2,2021-10-24,LAL,45,84.0,16.0,30.0,15,22.0,9.0,27.0,36.0,29.0,10.0,12.0,17.0,14.0,121,1
3,2021-10-26,LAL,50,105.0,8.0,30.0,17,22.0,9.0,47.0,56.0,20.0,8.0,10.0,13.0,21.0,125,1
4,2021-10-27,LAL,46,92.0,11.0,35.0,12,14.0,10.0,30.0,40.0,29.0,8.0,2.0,17.0,22.0,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2022-04-03,LAL,49,92.0,6.0,20.0,14,21.0,6.0,34.0,40.0,31.0,4.0,5.0,12.0,25.0,118,0
78,2022-04-05,LAL,39,86.0,9.0,29.0,23,30.0,7.0,39.0,46.0,22.0,7.0,3.0,16.0,14.0,110,0
79,2022-04-07,LAL,37,83.0,9.0,32.0,29,38.0,8.0,34.0,42.0,14.0,8.0,4.0,18.0,13.0,112,0
80,2022-04-08,LAL,41,82.0,9.0,31.0,29,39.0,7.0,38.0,45.0,23.0,8.0,4.0,9.0,17.0,120,1
81,2022-04-10,LAL,44,94.0,16.0,43.0,42,47.0,13.0,37.0,50.0,26.0,4.0,6.0,13.0,24.0,146,1

In [10]:
columns_to_sum = ['FGM', 'FGA', 'FG3M', 'FG3A', 
                  'FTM', 'FTA', 'OREB', 'DREB', 'REB', 
                  'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'win']
percentage_stats = ['FG', 'FG3', 'FT']
per_game_stats =  ['REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'win']
accumulated_stats = season_team_daily_stats[start]['LAL'].groupby('Team')[columns_to_sum].cumsum()
accumulated_stats.insert(0, 'GAME_DATE', season_team_daily_stats[start]['LAL']['GAME_DATE'])
accumulated_stats.insert(0, 'Team', season_team_daily_stats[start]['LAL']['Team'])
shifted_dates = list(accumulated_stats['GAME_DATE'].iloc[1:])
accumulated_stats = accumulated_stats.iloc[:-1]
accumulated_stats['shifted_date'] = shifted_dates
for stat in percentage_stats:
    accumulated_stats[stat + '%'] = accumulated_stats[stat + 'M'] / accumulated_stats[stat + 'A']
num_games = accumulated_stats.shape[0]
for stat in per_game_stats:
    accumulated_stats[stat + '/G'] = accumulated_stats[stat] / np.arange(1, num_games + 1)
accumulated_stats = accumulated_stats.rename(columns = {'win/G' : 'win%'})
accumulated_stats = accumulated_stats.drop(columns_to_sum, axis = 1)
accumulated_stats

,Team,GAME_DATE,shifted_date,FG%,FG3%,FT%,REB/G,AST/G,STL/G,BLK/G,TOV/G,PF/G,PTS/G,win%
0,LAL,2021-10-19,2021-10-22,0.473684,0.357143,0.473684,45.000000,21.000000,7.000000,4.000000,17.000000,25.000000,114.000000,0.000000
1,LAL,2021-10-22,2021-10-24,0.436464,0.394737,0.645833,45.500000,23.000000,7.000000,3.500000,16.500000,25.500000,109.500000,0.000000
2,LAL,2021-10-24,2021-10-26,0.467925,0.433962,0.657143,42.333333,25.000000,8.000000,6.333333,16.666667,21.666667,113.333333,0.333333
3,LAL,2021-10-26,2021-10-27,0.470270,0.397059,0.684783,45.750000,23.750000,8.000000,7.250000,15.750000,21.500000,116.250000,0.500000
4,LAL,2021-10-27,2021-10-29,0.476190,0.380117,0.707547,44.600000,24.800000,8.000000,6.200000,16.000000,21.600000,116.000000,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,LAL,2022-04-01,2022-04-03,0.468430,0.349307,0.727326,43.961039,24.051948,7.727273,5.233766,13.909091,20.272727,111.506494,0.402597
77,LAL,2022-04-03,2022-04-05,0.469282,0.348941,0.726590,43.910256,24.141026,7.679487,5.230769,13.884615,20.333333,111.589744,0.397436
78,LAL,2022-04-05,2022-04-07,0.469088,0.348529,0.727273,43.936709,24.113924,7.670886,5.202532,13.911392,20.253165,111.569620,0.392405
79,LAL,2022-04-07,2022-04-08,0.468816,0.347747,0.728031,43.912500,23.987500,7.675000,5.187500,13.962500,20.162500,111.575000,0.387500
80,LAL,2022-04-08,2022-04-10,0.469172,0.347107,0.728361,43.925926,23.975309,7.679012,5.172840,13.901235,20.123457,111.679012,0.395062

In [11]:
start_year = start
end_year = end
all_teams_df = pd.DataFrame()
team_cumsum_stats = {}
percentage_stats = ['FG', 'FG3', 'FT']
per_game_stats =  ['REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'win']
columns_to_sum = ['FGM', 'FGA', 'FG3M', 'FG3A', 
                  'FTM', 'FTA', 'OREB', 'DREB', 'REB', 
                  'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'win']

for year in range(start_year, end_year + 1):
    for team in unique_teams:
        accumulated_stats = season_team_daily_stats[year][team].groupby('Team')[columns_to_sum].cumsum()
        accumulated_stats.insert(0, 'GAME_DATE', season_team_daily_stats[year][team]['GAME_DATE'])
        accumulated_stats.insert(0, 'Team', season_team_daily_stats[year][team]['Team'])
        shifted_dates = list(accumulated_stats['GAME_DATE'].iloc[1:])
        accumulated_stats = accumulated_stats.iloc[:-1]
        accumulated_stats['shifted_date'] = shifted_dates
    
        for stat in percentage_stats:
            accumulated_stats[stat + '%'] = accumulated_stats[stat + 'M'] / accumulated_stats[stat + 'A']
    
        num_games = accumulated_stats.shape[0]
        for stat in per_game_stats:
            accumulated_stats[stat + '/G'] = accumulated_stats[stat] / np.arange(1, num_games + 1)
    
        accumulated_stats = accumulated_stats.rename(columns = {'win/G' : 'win%'})
        accumulated_stats = accumulated_stats.drop(columns_to_sum, axis = 1)

        team_cumsum_stats[(year, team)] = accumulated_stats

team_cumsum_stats#[(2009, 'LAL')]

{(2021,
  'DEN'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   DEN 2021-10-20   2021-10-22  0.530120  0.435897  0.555556  46.000000
 1   DEN 2021-10-22   2021-10-25  0.520710  0.376812  0.588235  43.500000
 2   DEN 2021-10-25   2021-10-26  0.482353  0.327103  0.620690  44.666667
 3   DEN 2021-10-26   2021-10-29  0.488166  0.333333  0.641509  42.250000
 4   DEN 2021-10-29   2021-10-30  0.494062  0.327485  0.651515  44.000000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  DEN 2022-03-30   2022-04-01  0.480778  0.354408  0.793601  44.103896
 77  DEN 2022-04-01   2022-04-03  0.481470  0.354263  0.795441  44.102564
 78  DEN 2022-04-03   2022-04-05  0.482576  0.354622  0.795400  44.025316
 79  DEN 2022-04-05   2022-04-07  0.481664  0.352982  0.794471  44.112500
 80  DEN 2022-04-07   2022-04-10  0.482447  0.353469  0.795737  44.098765

         AST/G     STL/G     BLK/G      TOV/G       PF/G       PTS/G      win%
 0   25.000000  9.000000  1.000000  17.000000  20.000000  110.000000  1.000000
 1   25.500000  9.500000  1.500000  19.000000  20.500000  106.000000  1.000000
 2   24.000000  9.666667  2.000000  19.666667  21.000000   99.666667  0.666667
 3   22.750000  9.500000  2.250000  18.000000  21.500000  102.250000  0.500000
 4   23.800000  9.200000  2.400000  18.200000  22.000000  103.000000  0.600000
 ..        ...       ...       ...        ...        ...         ...       ...
 76  27.636364  7.194805  3.727273  13.805195  19.779221  112.000000  0.597403
 77  27.743590  7.192308  3.705128  13.858974  19.820513  112.230769  0.589744
 78  27.810127  7.227848  3.721519  13.835443  19.797468  112.443038  0.594937
 79  27.737500  7.187500  3.700000  13.800000  19.787500  112.250000  0.587500
 80  27.728395  7.185185  3.679012  13.839506  19.814815  112.370370  0.592593

 [81 rows x 14 columns],
 (2021,
  'PHI'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   PHI 2021-10-20   2021-10-22  0.517647  0.520000  0.800000  47.000000
 1   PHI 2021-10-22   2021-10-24  0.494318  0.442623  0.806452  41.000000
 2   PHI 2021-10-24   2021-10-26  0.484848  0.431373  0.803922  43.000000
 3   PHI 2021-10-26   2021-10-28  0.473988  0.391608  0.823529  42.250000
 4   PHI 2021-10-28   2021-10-30  0.478673  0.400000  0.847826  43.000000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  PHI 2022-04-02   2022-04-03  0.463299  0.360360  0.820330  42.376623
 77  PHI 2022-04-03   2022-04-05  0.462682  0.360291  0.820623  42.474359
 78  PHI 2022-04-05   2022-04-07  0.463692  0.363709  0.820213  42.392405
 79  PHI 2022-04-07   2022-04-09  0.464021  0.366026  0.820472  42.325000
 80  PHI 2022-04-09   2022-04-10  0.465225  0.365854  0.819876  42.320988

         AST/G     STL/G     BLK/G      TOV/G       PF/G       PTS/G      win%
 0   24.000000  9.000000  5.000000  12.000000  11.000000  117.000000  1.000000
 1   20.500000  8.500000  7.000000  10.000000  16.000000  113.000000  0.500000
 2   22.000000  7.000000  7.666667  10.666667  16.333333  113.666667  0.666667
 3   22.500000  7.500000  6.750000  11.500000  15.750000  110.000000  0.500000
 4   22.400000  7.400000  7.200000  13.200000  17.200000  110.000000  0.600000
 ..        ...       ...       ...        ...        ...         ...       ...
 76  23.376623  7.584416  5.350649  11.623377  19.376623  109.181818  0.610390
 77  23.371795  7.576923  5.384615  11.653846  19.371795  109.217949  0.615385
 78  23.506329  7.582278  5.354430  11.683544  19.303797  109.493671  0.620253
 79  23.537500  7.575000  5.325000  11.737500  19.287500  109.550000  0.612500
 80  23.703704  7.654321  5.296296  11.765432  19.345679  109.839506  0.617284

 [81 rows x 14 columns],
 (2021,
  'WAS'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   WAS 2021-10-20   2021-10-22  0.444444  0.185185  0.807692  51.000000
 1   WAS 2021-10-22   2021-10-25  0.485714  0.369231  0.866667  44.500000
 2   WAS 2021-10-25   2021-10-27  0.437037  0.317308  0.830769  47.333333
 3   WAS 2021-10-27   2021-10-28  0.454802  0.325581  0.797872  47.250000
 4   WAS 2021-10-28   2021-10-30  0.456954  0.337423  0.800000  48.000000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  WAS 2022-04-01   2022-04-03  0.470109  0.341895  0.786982  43.207792
 77  WAS 2022-04-03   2022-04-05  0.470027  0.342237  0.788304  43.064103
 78  WAS 2022-04-05   2022-04-06  0.471280  0.343364  0.785963  43.177215
 79  WAS 2022-04-06   2022-04-08  0.471493  0.342544  0.786167  43.187500
 80  WAS 2022-04-08   2022-04-10  0.471847  0.342306  0.785959  43.111111

         AST/G      STL/G     BLK/G      TOV/G       PF/G       PTS/G      win%
 0   20.000000  14.000000  8.000000  21.000000  17.000000   98.000000  1.000000
 1   22.000000   9.500000  7.000000  15.000000  19.000000  116.500000  1.000000
 2   20.000000   8.000000  6.333333  14.000000  18.333333  107.666667  0.666667
 3   19.500000   8.000000  6.500000  14.250000  18.750000  109.750000  0.750000
 4   20.800000   7.600000  6.000000  12.600000  18.200000  112.200000  0.800000
 ..        ...        ...       ...        ...        ...         ...       ...
 76  24.948052   6.402597  5.038961  12.584416  18.883117  108.701299  0.441558
 77  24.897436   6.371795  5.000000  12.576923  18.820513  108.615385  0.435897
 78  25.063291   6.341772  4.987342  12.544304  18.898734  108.911392  0.443038
 79  25.075000   6.312500  4.975000  12.562500  18.875000  108.837500  0.437500
 80  25.024691   6.296296  4.975309  12.679012  18.876543  108.629630  0.432099

 [81 rows x 14 columns],
 (2021,
  'BOS'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   BOS 2021-10-20   2021-10-22  0.410256  0.368421  0.739130  56.000000
 1   BOS 2021-10-22   2021-10-24  0.402010  0.351648  0.735294  49.000000
 2   BOS 2021-10-24   2021-10-25  0.414035  0.340580  0.759259  47.000000
 3   BOS 2021-10-25   2021-10-27  0.435233  0.351064  0.784810  48.500000
 4   BOS 2021-10-27   2021-10-30  0.435244  0.350230  0.794393  46.200000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  BOS 2022-03-30   2022-04-01  0.461378  0.350989  0.816440  46.194805
 77  BOS 2022-04-01   2022-04-03  0.462364  0.351134  0.818348  46.115385
 78  BOS 2022-04-03   2022-04-06  0.464384  0.353730  0.817360  46.025316
 79  BOS 2022-04-06   2022-04-07  0.464690  0.355058  0.814991  45.975000
 80  BOS 2022-04-07   2022-04-10  0.465054  0.356142  0.814118  45.950617

         AST/G      STL/G      BLK/G      TOV/G       PF/G       PTS/G  \
 0   34.000000  13.000000   9.000000  18.000000  24.000000  134.000000
 1   26.500000   9.500000  10.500000  21.500000  21.500000  108.500000
 2   25.000000   9.666667   9.000000  18.000000  21.666667  108.000000
 3   27.000000   9.250000   9.000000  16.500000  22.000000  116.000000
 4   25.200000   9.200000   8.200000  15.800000  21.800000  114.200000
 ..        ...        ...        ...        ...        ...         ...
 76  24.350649   7.194805   5.935065  13.064935  18.558442  110.584416
 77  24.410256   7.192308   5.910256  13.089744  18.564103  110.807692
 78  24.594937   7.177215   5.898734  13.012658  18.582278  111.227848
 79  24.650000   7.225000   5.900000  12.987500  18.575000  111.300000
 80  24.716049   7.234568   5.876543  13.024691  18.530864  111.419753

         win%
 0   0.000000
 1   0.000000
 2   0.333333
 3   0.500000
 4   0.400000
 ..       ...
 76  0.610390
 77  0.615385
 78  0.620253
 79  0.625000
 80  0.617284

 [81 rows x 14 columns],
 (2021,
  'OKC'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   OKC 2021-10-20   2021-10-22  0.373626  0.200000  0.611111  50.000000
 1   OKC 2021-10-22   2021-10-24  0.373626  0.269231  0.588235  44.500000
 2   OKC 2021-10-24   2021-10-26  0.406015  0.266055  0.660377  43.666667
 3   OKC 2021-10-26   2021-10-27  0.409091  0.286713  0.700000  43.250000
 4   OKC 2021-10-27   2021-10-30  0.426941  0.311111  0.717172  43.000000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  OKC 2022-04-01   2022-04-03  0.428925  0.322514  0.760827  45.766234
 77  OKC 2022-04-03   2022-04-05  0.429743  0.323800  0.761022  45.871795
 78  OKC 2022-04-05   2022-04-06  0.430338  0.323668  0.757404  45.886076
 79  OKC 2022-04-06   2022-04-08  0.430095  0.325008  0.756234  45.712500
 80  OKC 2022-04-08   2022-04-10  0.430394  0.323879  0.756624  45.691358

         AST/G     STL/G     BLK/G      TOV/G       PF/G       PTS/G      win%
 0   19.000000  4.000000  2.000000  14.000000  15.000000   86.000000  0.000000
 1   20.500000  6.500000  3.000000  16.500000  18.000000   88.500000  0.000000
 2   21.666667  7.333333  3.333333  14.666667  17.666667   93.333333  0.000000
 3   21.000000  7.250000  3.250000  14.250000  17.750000   94.500000  0.000000
 4   21.000000  7.400000  3.200000  14.400000  17.400000  100.200000  0.200000
 ..        ...       ...       ...        ...        ...         ...       ...
 76  22.194805  7.571429  4.649351  13.324675  18.246753  103.909091  0.285714
 77  22.333333  7.564103  4.641026  13.358974  18.243590  104.076923  0.294872
 78  22.240506  7.620253  4.734177  13.392405  18.139241  104.000000  0.303797
 79  22.300000  7.637500  4.687500  13.350000  18.187500  103.962500  0.300000
 80  22.283951  7.604938  4.666667  13.358025  18.283951  103.925926  0.296296

 [81 rows x 14 columns],
 (2021,
  'PHX'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   PHX 2021-10-20   2021-10-22  0.413793  0.378378  0.705882  45.000000
 1   PHX 2021-10-22   2021-10-23  0.450867  0.347826  0.733333  46.000000
 2   PHX 2021-10-23   2021-10-27  0.461832  0.340206  0.716667  43.333333
 3   PHX 2021-10-27   2021-10-30  0.459155  0.327731  0.714286  46.500000
 4   PHX 2021-10-30   2021-11-02  0.460137  0.310345  0.693694  47.600000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  PHX 2022-04-01   2022-04-03  0.487890  0.368247  0.797064  45.168831
 77  PHX 2022-04-03   2022-04-05  0.486970  0.365408  0.797980  45.012821
 78  PHX 2022-04-05   2022-04-06  0.487017  0.365308  0.797866  45.113924
 79  PHX 2022-04-06   2022-04-08  0.485544  0.365098  0.796885  45.225000
 80  PHX 2022-04-08   2022-04-10  0.485726  0.364733  0.797531  45.234568

         AST/G     STL/G     BLK/G      TOV/G       PF/G       PTS/G      win%
 0   23.000000  9.000000  3.000000  18.000000  18.000000   98.000000  0.000000
 1   27.000000  8.500000  2.500000  14.500000  20.000000  106.500000  0.500000
 2   27.000000  7.666667  2.000000  14.333333  19.666667  106.000000  0.333333
 3   26.000000  7.250000  3.000000  13.500000  18.750000  106.250000  0.250000
 4   26.200000  8.200000  3.000000  13.400000  17.800000  105.200000  0.400000
 ..        ...       ...       ...        ...        ...         ...       ...
 76  27.285714  8.454545  4.402597  12.363636  19.714286  115.194805  0.805195
 77  27.217949  8.525641  4.397436  12.346154  19.679487  114.948718  0.794872
 78  27.354430  8.544304  4.392405  12.367089  19.708861  115.025316  0.797468
 79  27.375000  8.575000  4.362500  12.362500  19.787500  114.950000  0.787500
 80  27.370370  8.555556  4.345679  12.370370  19.851852  114.901235  0.790123

 [81 rows x 14 columns],
 (2021,
  'SAC'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   SAC 2021-10-20   2021-10-22  0.456522  0.414634  0.793103  43.000000
 1   SAC 2021-10-22   2021-10-24  0.424084  0.324675  0.760000  47.500000
 2   SAC 2021-10-24   2021-10-27  0.444043  0.325203  0.730159  47.333333
 3   SAC 2021-10-27   2021-10-29  0.443548  0.341615  0.730769  45.500000
 4   SAC 2021-10-29   2021-10-31  0.453540  0.340426  0.786408  45.400000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  SAC 2022-03-30   2022-04-01  0.458889  0.343811  0.767756  43.155844
 77  SAC 2022-04-01   2022-04-03  0.459589  0.344722  0.767699  43.205128
 78  SAC 2022-04-03   2022-04-05  0.458697  0.343063  0.769105  43.101266
 79  SAC 2022-04-05   2022-04-09  0.459283  0.343328  0.770766  42.987500
 80  SAC 2022-04-09   2022-04-10  0.459074  0.342359  0.768903  42.975309

         AST/G      STL/G     BLK/G      TOV/G       PF/G       PTS/G      win%
 0   24.000000   6.000000  4.000000  10.000000  22.000000  124.000000  1.000000
 1   22.000000  10.500000  4.500000  12.500000  22.000000  112.500000  0.500000
 2   23.333333   7.000000  4.333333  14.666667  20.000000  110.666667  0.333333
 3   24.500000   7.000000  4.750000  13.750000  20.000000  110.500000  0.500000
 4   23.400000   6.400000  4.800000  13.800000  20.000000  111.000000  0.600000
 ..        ...        ...       ...        ...        ...         ...       ...
 76  23.597403   7.168831  4.480519  13.545455  19.012987  110.519481  0.363636
 77  23.666667   7.153846  4.564103  13.538462  19.012821  110.666667  0.371795
 78  23.607595   7.126582  4.518987  13.518987  18.962025  110.405063  0.367089
 79  23.662500   7.087500  4.500000  13.537500  18.975000  110.387500  0.362500
 80  23.666667   7.148148  4.469136  13.530864  18.938272  110.234568  0.358025

 [81 rows x 14 columns],
 (2021,
  'ORL'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   ORL 2021-10-20   2021-10-22  0.406977  0.310345  0.782609  44.000000
 1   ORL 2021-10-22   2021-10-24  0.402367  0.361111  0.815789  45.000000
 2   ORL 2021-10-24   2021-10-25  0.404669  0.330435  0.791667  49.000000
 3   ORL 2021-10-25   2021-10-27  0.405325  0.314465  0.758242  46.500000
 4   ORL 2021-10-27   2021-10-29  0.422535  0.326633  0.759615  43.800000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  ORL 2022-03-30   2022-04-01  0.433279  0.329051  0.790091  44.311688
 77  ORL 2022-04-01   2022-04-03  0.433246  0.328869  0.790939  44.320513
 78  ORL 2022-04-03   2022-04-05  0.432265  0.328011  0.787532  44.265823
 79  ORL 2022-04-05   2022-04-07  0.433229  0.329561  0.786389  44.250000
 80  ORL 2022-04-07   2022-04-10  0.432788  0.329285  0.786250  44.234568

         AST/G     STL/G     BLK/G      TOV/G       PF/G       PTS/G      win%
 0   17.000000  6.000000  6.000000  16.000000  20.000000   97.000000  0.000000
 1   20.500000  5.500000  4.500000  17.000000  19.000000   96.500000  0.000000
 2   21.000000  6.000000  4.333333  15.666667  21.000000  101.000000  0.333333
 3   21.000000  6.250000  4.750000  15.750000  21.250000   98.250000  0.250000
 4   21.200000  6.200000  4.200000  16.200000  21.200000  100.800000  0.200000
 ..        ...       ...       ...        ...        ...         ...       ...
 76  23.558442  6.818182  4.493506  13.896104  19.857143  104.207792  0.259740
 77  23.564103  6.807692  4.487179  13.974359  19.782051  104.012821  0.256410
 78  23.493671  6.784810  4.455696  13.936709  19.683544  103.810127  0.253165
 79  23.587500  6.812500  4.500000  13.850000  19.675000  104.012500  0.262500
 80  23.629630  6.802469  4.493827  13.876543  19.703704  103.975309  0.259259

 [81 rows x 14 columns],
 (2021,
  'NYK'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   NYK 2021-10-20   2021-10-22  0.485714  0.377778  0.703704  55.000000
 1   NYK 2021-10-22   2021-10-24  0.492228  0.414141  0.636364  46.500000
 2   NYK 2021-10-24   2021-10-26  0.450512  0.367347  0.652174  48.333333
 3   NYK 2021-10-26   2021-10-28  0.455263  0.380435  0.702381  47.500000
 4   NYK 2021-10-28   2021-10-30  0.455914  0.380282  0.711538  47.800000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  NYK 2022-03-30   2022-04-02  0.436531  0.356261  0.744898  46.220779
 77  NYK 2022-04-02   2022-04-03  0.436142  0.357068  0.745253  46.076923
 78  NYK 2022-04-03   2022-04-06  0.436793  0.356824  0.745816  46.202532
 79  NYK 2022-04-06   2022-04-08  0.436176  0.356634  0.742813  46.150000
 80  NYK 2022-04-08   2022-04-10  0.436551  0.357334  0.743394  46.098765

         AST/G     STL/G      BLK/G      TOV/G       PF/G       PTS/G      win%
 0   27.000000  9.000000  10.000000  17.000000  22.000000  138.000000  1.000000
 1   30.500000  9.500000   7.000000  14.000000  20.500000  129.500000  1.000000
 2   27.000000  9.000000   7.333333  13.333333  20.666667  121.000000  0.666667
 3   26.250000  8.500000   6.750000  13.000000  20.000000  118.750000  0.750000
 4   24.200000  7.800000   6.800000  13.000000  20.200000  115.800000  0.800000
 ..        ...       ...        ...        ...        ...         ...       ...
 76  21.610390  6.909091   4.844156  12.493506  20.467532  106.428571  0.441558
 77  21.576923  6.897436   4.833333  12.461538  20.448718  106.358974  0.435897
 78  21.670886  6.924051   4.860759  12.417722  20.468354  106.506329  0.443038
 79  21.675000  6.887500   4.887500  12.400000  20.450000  106.400000  0.437500
 80  21.740741  6.962963   4.864198  12.370370  20.432099  106.493827  0.444444

 [81 rows x 14 columns],
 (2021,
  'CHI'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   CHI 2021-10-20   2021-10-22  0.430233  0.304348  0.866667  48.000000
 1   CHI 2021-10-22   2021-10-23  0.480000  0.411765  0.825000  47.000000
 2   CHI 2021-10-23   2021-10-25  0.459459  0.415584  0.830508  45.333333
 3   CHI 2021-10-25   2021-10-28  0.464706  0.423077  0.864198  41.250000
 4   CHI 2021-10-28   2021-10-30  0.457547  0.404412  0.873786  40.400000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  CHI 2022-03-31   2022-04-02  0.480741  0.369672  0.811893  42.480519
 77  CHI 2022-04-02   2022-04-05  0.480100  0.368095  0.813357  42.435897
 78  CHI 2022-04-05   2022-04-06  0.479366  0.366725  0.814793  42.430380
 79  CHI 2022-04-06   2022-04-08  0.478885  0.366106  0.813777  42.400000
 80  CHI 2022-04-08   2022-04-10  0.479557  0.367904  0.813618  42.259259

         AST/G      STL/G     BLK/G      TOV/G       PF/G       PTS/G      win%
 0   18.000000   8.000000  5.000000  17.000000  19.000000   94.000000  1.000000
 1   25.000000   8.500000  6.000000  15.500000  16.500000  111.000000  1.000000
 2   24.666667  10.000000  7.666667  14.333333  16.666667  106.333333  1.000000
 3   24.500000  10.250000  6.500000  14.000000  16.500000  107.500000  1.000000
 4   24.600000   9.400000  6.200000  12.600000  16.800000  106.600000  0.800000
 ..        ...        ...       ...        ...        ...         ...       ...
 76  24.012987   7.129870  4.181818  12.012987  18.753247  111.714286  0.584416
 77  23.974359   7.102564  4.179487  11.923077  18.756410  111.679487  0.576923
 78  23.949367   7.113924  4.151899  11.949367  18.784810  111.607595  0.569620
 79  23.887500   7.112500  4.150000  12.012500  18.825000  111.387500  0.562500
 80  23.901235   7.111111  4.111111  12.012346  18.740741  111.456790  0.555556

 [81 rows x 14 columns],
 (2021,
  'HOU'):    Team  GAME_DATE shifted_date       FG%      FG3%       FT%      REB/G  \
 0   HOU 2021-10-20   2021-10-22  0.454545  0.333333  0.681818  41.000000
 1   HOU 2021-10-22   2021-10-24  0.480874  0.394366  0.722222  47.500000
 2   HOU 2021-10-24   2021-10-26  0.465116  0.407767  0.750000  45.000000
 3   HOU 2021-10-26   2021-10-28  0.453488  0.408451  0.732558  46.000000
 4   HOU 2021-10-28   2021-10-31  0.425968  0.360215  0.761468  45.000000
 ..  ...        ...          ...       ...       ...       ...        ...
 76  HOU 2022-03-30   2022-04-01  0.454765  0.348500  0.714740  42.103896
 77  HOU 2022-04-01   2022-04-03  0.454302  0.348938  0.714435  42.141026
 78  HOU 2022-04-03   2022-04-05  0.455679  0.349607  0.714065  42.063291
 79  HOU 2022-04-05   2022-04-08  0.454940  0.348304  0.712106  42.137500
 80  HOU 2022-04-08   2022-04-10  0.455819  0.348271  0.713065  42.123457

         AST/G      STL/G     BLK/G      TOV/G       PF/G       PTS/G      win%

In [12]:
team_cumsum_stats[(start, 'LAL')]

,Team,GAME_DATE,shifted_date,FG%,FG3%,FT%,REB/G,AST/G,STL/G,BLK/G,TOV/G,PF/G,PTS/G,win%
0,LAL,2021-10-19,2021-10-22,0.473684,0.357143,0.473684,45.000000,21.000000,7.000000,4.000000,17.000000,25.000000,114.000000,0.000000
1,LAL,2021-10-22,2021-10-24,0.436464,0.394737,0.645833,45.500000,23.000000,7.000000,3.500000,16.500000,25.500000,109.500000,0.000000
2,LAL,2021-10-24,2021-10-26,0.467925,0.433962,0.657143,42.333333,25.000000,8.000000,6.333333,16.666667,21.666667,113.333333,0.333333
3,LAL,2021-10-26,2021-10-27,0.470270,0.397059,0.684783,45.750000,23.750000,8.000000,7.250000,15.750000,21.500000,116.250000,0.500000
4,LAL,2021-10-27,2021-10-29,0.476190,0.380117,0.707547,44.600000,24.800000,8.000000,6.200000,16.000000,21.600000,116.000000,0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,LAL,2022-04-01,2022-04-03,0.468430,0.349307,0.727326,43.961039,24.051948,7.727273,5.233766,13.909091,20.272727,111.506494,0.402597
77,LAL,2022-04-03,2022-04-05,0.469282,0.348941,0.726590,43.910256,24.141026,7.679487,5.230769,13.884615,20.333333,111.589744,0.397436
78,LAL,2022-04-05,2022-04-07,0.469088,0.348529,0.727273,43.936709,24.113924,7.670886,5.202532,13.911392,20.253165,111.569620,0.392405
79,LAL,2022-04-07,2022-04-08,0.468816,0.347747,0.728031,43.912500,23.987500,7.675000,5.187500,13.962500,20.162500,111.575000,0.387500
80,LAL,2022-04-08,2022-04-10,0.469172,0.347107,0.728361,43.925926,23.975309,7.679012,5.172840,13.901235,20.123457,111.679012,0.395062

In [13]:
betting = pd.read_csv(go_back + 'betting.csv')
betting = betting[betting['season'] >= start + 1]
betting['date'] = pd.to_datetime(betting['date'])
betting.head()

,date,season,team,home/visitor,opponent,score,opponentScore,moneyLine,opponentMoneyLine,total,spread,secondHalfTotal
33316,2021-10-19,2022,Milwaukee,vs,Brooklyn,127,104,-125.0,105.0,233.5,-1.5,114.0
33317,2021-10-19,2022,LA Lakers,vs,Golden State,114,121,-160.0,140.0,226.5,-3.5,111.5
33318,2021-10-19,2022,Golden State,@,LA Lakers,121,114,140.0,-160.0,226.5,3.5,111.5
33319,2021-10-19,2022,Brooklyn,@,Milwaukee,104,127,105.0,-125.0,233.5,1.5,114.0
33320,2021-10-20,2022,New York,vs,Boston,138,134,-140.0,120.0,220.0,-2.5,112.5

In [14]:
# Outcome = 1 if 'team' wins, 0 if 'opponent' wins
win_loss = betting.copy()
win_loss['home'] = (win_loss['home/visitor'] == 'vs').astype(int)
win_loss['outcome'] = (win_loss['score'] > win_loss['opponentScore']).astype(int)
win_loss = win_loss[['date', 'team', 'opponent', 'home', 'outcome']] 
win_loss.head()

            date          team      opponent  home  outcome
33316 2021-10-19     Milwaukee      Brooklyn     1        1
33317 2021-10-19     LA Lakers  Golden State     1        0
33318 2021-10-19  Golden State     LA Lakers     0        1
33319 2021-10-19      Brooklyn     Milwaukee     0        0
33320 2021-10-20      New York        Boston     1        1

In [15]:
lookup = pd.read_json(go_back + 'nba_lookup_table.json', orient='index')
lookup.reset_index(inplace=True)
lookup.columns = ['Abbrv', 'Team Name']
lookup

   Abbrv      Team Name
0    ATL        Atlanta
1    BOS         Boston
2    BRK       Brooklyn
3    CHI        Chicago
4    CHO      Charlotte
5    CLE      Cleveland
6    DAL         Dallas
7    DEN         Denver
8    DET        Detroit
9    GSW   Golden State
10   HOU        Houston
11   IND        Indiana
12   LAC    LA Clippers
13   LAL      LA Lakers
14   MEM        Memphis
15   MIA          Miami
16   MIL      Milwaukee
17   MIN      Minnesota
18   NOP    New Orleans
19   NYK       New York
20   OKC  Oklahoma City
21   ORL        Orlando
22   PHI   Philadelphia
23   PHO        Phoenix
24   POR       Portland
25   SAC     Sacramento
26   SAS    San Antonio
27   TOR        Toronto
28   UTA           Utah
29   WAS     Washington

In [16]:
all_teams_df = pd.concat(team_cumsum_stats.values(), ignore_index=True)
all_teams_df

,Team,GAME_DATE,shifted_date,FG%,FG3%,FT%,REB/G,AST/G,STL/G,BLK/G,TOV/G,PF/G,PTS/G,win%
0,DEN,2021-10-20,2021-10-22,0.530120,0.435897,0.555556,46.000000,25.000000,9.000000,1.000000,17.000000,20.000000,110.000000,1.000000
1,DEN,2021-10-22,2021-10-25,0.520710,0.376812,0.588235,43.500000,25.500000,9.500000,1.500000,19.000000,20.500000,106.000000,1.000000
2,DEN,2021-10-25,2021-10-26,0.482353,0.327103,0.620690,44.666667,24.000000,9.666667,2.000000,19.666667,21.000000,99.666667,0.666667
3,DEN,2021-10-26,2021-10-29,0.488166,0.333333,0.641509,42.250000,22.750000,9.500000,2.250000,18.000000,21.500000,102.250000,0.500000
4,DEN,2021-10-29,2021-10-30,0.494062,0.327485,0.651515,44.000000,23.800000,9.200000,2.400000,18.200000,22.000000,103.000000,0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,TOR,2022-04-01,2022-04-03,0.445204,0.351331,0.755515,45.376623,22.090909,8.961039,4.675325,11.714286,19.753247,109.259740,0.584416
2426,TOR,2022-04-03,2022-04-05,0.444929,0.350693,0.756303,45.282051,22.051282,9.000000,4.628205,11.743590,19.756410,109.256410,0.576923
2427,TOR,2022-04-05,2022-04-07,0.444799,0.349482,0.754862,45.468354,22.025316,8.962025,4.632911,11.683544,19.683544,109.367089,0.582278
2428,TOR,2022-04-07,2022-04-08,0.445418,0.350749,0.755102,45.412500,22.025000,8.937500,4.625000,11.662500,19.650000,109.487500,0.587500
2429,TOR,2022-04-08,2022-04-10,0.445586,0.349602,0.757768,45.358025,22.000000,8.987654,4.617284,11.629630,19.629630,109.580247,0.592593

In [17]:
all_team_stats_merged = all_teams_df.merge(lookup, left_on = 'Team', right_on = 'Abbrv').drop('Abbrv', axis = 1)
all_team_stats_merged

,Team,GAME_DATE,shifted_date,FG%,FG3%,FT%,REB/G,AST/G,STL/G,BLK/G,TOV/G,PF/G,PTS/G,win%,Team Name
0,DEN,2021-10-20,2021-10-22,0.530120,0.435897,0.555556,46.000000,25.000000,9.000000,1.000000,17.000000,20.000000,110.000000,1.000000,Denver
1,DEN,2021-10-22,2021-10-25,0.520710,0.376812,0.588235,43.500000,25.500000,9.500000,1.500000,19.000000,20.500000,106.000000,1.000000,Denver
2,DEN,2021-10-25,2021-10-26,0.482353,0.327103,0.620690,44.666667,24.000000,9.666667,2.000000,19.666667,21.000000,99.666667,0.666667,Denver
3,DEN,2021-10-26,2021-10-29,0.488166,0.333333,0.641509,42.250000,22.750000,9.500000,2.250000,18.000000,21.500000,102.250000,0.500000,Denver
4,DEN,2021-10-29,2021-10-30,0.494062,0.327485,0.651515,44.000000,23.800000,9.200000,2.400000,18.200000,22.000000,103.000000,0.600000,Denver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2182,TOR,2022-04-01,2022-04-03,0.445204,0.351331,0.755515,45.376623,22.090909,8.961039,4.675325,11.714286,19.753247,109.259740,0.584416,Toronto
2183,TOR,2022-04-03,2022-04-05,0.444929,0.350693,0.756303,45.282051,22.051282,9.000000,4.628205,11.743590,19.756410,109.256410,0.576923,Toronto
2184,TOR,2022-04-05,2022-04-07,0.444799,0.349482,0.754862,45.468354,22.025316,8.962025,4.632911,11.683544,19.683544,109.367089,0.582278,Toronto
2185,TOR,2022-04-07,2022-04-08,0.445418,0.350749,0.755102,45.412500,22.025000,8.937500,4.625000,11.662500,19.650000,109.487500,0.587500,Toronto
2186,TOR,2022-04-08,2022-04-10,0.445586,0.349602,0.757768,45.358025,22.000000,8.987654,4.617284,11.629630,19.629630,109.580247,0.592593,Toronto

In [18]:
opp_stats = all_team_stats_merged.copy()
opp_columns = list(opp_stats.drop(['Team', 'Team Name'], axis = 1).columns)
for col in opp_columns:
    opp_stats[col + '_opp'] = opp_stats[col]
opp_stats = opp_stats.drop(opp_columns, axis = 1)
opp_stats.head()

,Team,Team Name,GAME_DATE_opp,shifted_date_opp,FG%_opp,FG3%_opp,FT%_opp,REB/G_opp,AST/G_opp,STL/G_opp,BLK/G_opp,TOV/G_opp,PF/G_opp,PTS/G_opp,win%_opp
0,DEN,Denver,2021-10-20,2021-10-22,0.530120,0.435897,0.555556,46.000000,25.00,9.000000,1.00,17.000000,20.0,110.000000,1.000000
1,DEN,Denver,2021-10-22,2021-10-25,0.520710,0.376812,0.588235,43.500000,25.50,9.500000,1.50,19.000000,20.5,106.000000,1.000000
2,DEN,Denver,2021-10-25,2021-10-26,0.482353,0.327103,0.620690,44.666667,24.00,9.666667,2.00,19.666667,21.0,99.666667,0.666667
3,DEN,Denver,2021-10-26,2021-10-29,0.488166,0.333333,0.641509,42.250000,22.75,9.500000,2.25,18.000000,21.5,102.250000,0.500000
4,DEN,Denver,2021-10-29,2021-10-30,0.494062,0.327485,0.651515,44.000000,23.80,9.200000,2.40,18.200000,22.0,103.000000,0.600000

In [19]:
opp_stats['shifted_date_opp']

0      2021-10-22
1      2021-10-25
2      2021-10-26
3      2021-10-29
4      2021-10-30
          ...
2182   2022-04-03
2183   2022-04-05
2184   2022-04-07
2185   2022-04-08
2186   2022-04-10
Name: shifted_date_opp, Length: 2187, dtype: datetime64[ns]

In [20]:
final_df = betting.merge(all_team_stats_merged, right_on = ['Team Name', 'shifted_date'], left_on = ['team', 'date'])
final_df = final_df.merge(opp_stats, left_on = ['opponent', 'date'], right_on = ['Team Name', 'shifted_date_opp'])
#final_df = final_df.drop(['Tm_x', 'Team Name_x', 'Tm_y', 'Team Name_y'], axis = 1)
#stat_cols = list(final_df.drop(['team', 'opponent', 'home', 'date', 'outcome'], axis = 1).columns)
#final_df = final_df[['team', 'opponent', 'date', 'home', 'outcome'] + stat_cols]
final_df['home'] = (final_df['home/visitor'] == 'vs').astype(int)
drop_columns = ['Team_x', 'GAME_DATE', 'Team Name_x', 'shifted_date', 'Team_y', 'Team Name_y', 'season',
                'GAME_DATE_opp', 'shifted_date_opp', 'home/visitor']
final_df = final_df.drop(drop_columns, axis = 1)
final_df

,date,team,opponent,score,opponentScore,moneyLine,opponentMoneyLine,total,spread,secondHalfTotal,...,FT%_opp,REB/G_opp,AST/G_opp,STL/G_opp,BLK/G_opp,TOV/G_opp,PF/G_opp,PTS/G_opp,win%_opp,home
0,2021-10-22,Toronto,Boston,115,83,240.0,-280.0,217.5,7.0,105.0,...,0.739130,56.000000,34.000000,13.000000,9.000000,18.000000,24.000000,134.000000,0.000000,0
1,2021-10-22,New Orleans,Chicago,112,128,235.0,-275.0,222.5,7.0,113.5,...,0.866667,48.000000,18.000000,8.000000,5.000000,17.000000,19.000000,94.000000,1.000000,0
2,2021-10-22,San Antonio,Denver,96,102,260.0,-310.0,222.0,7.5,108.0,...,0.555556,46.000000,25.000000,9.000000,1.000000,17.000000,20.000000,110.000000,1.000000,0
3,2021-10-22,Oklahoma City,Houston,91,124,130.0,-150.0,221.0,2.5,107.0,...,0.681818,41.000000,21.000000,13.000000,3.000000,24.000000,25.000000,106.000000,0.000000,0
4,2021-10-22,Washington,Indiana,135,134,110.0,-130.0,225.5,2.0,111.5,...,0.875000,51.000000,29.000000,2.000000,10.000000,16.000000,24.000000,122.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1951,2022-04-10,Detroit,Philadelphia,106,118,215.0,-255.0,221.0,6.5,108.0,...,0.819876,42.320988,23.703704,7.654321,5.296296,11.765432,19.345679,109.839506,0.617284,0
1952,2022-04-10,Utah,Portland,111,80,-2500.0,1100.0,220.0,-17.0,113.0,...,0.760091,43.000000,22.950617,7.975309,4.419753,13.679012,21.000000,106.555556,0.333333,0
1953,2022-04-10,Dallas,San Antonio,130,120,-500.0,400.0,225.5,-10.0,109.5,...,0.750909,45.444444,27.938272,7.543210,4.938272,12.358025,18.098765,113.074074,0.419753,1
1954,2022-04-10,New York,Toronto,105,94,-110.0,-110.0,214.0,0.0,104.5,...,0.757768,45.358025,22.000000,8.987654,4.617284,11.629630,19.629630,109.580247,0.592593,1
1955,2022-04-10,Portland,Utah,80,111,1100.0,-2500.0,220.0,17.0,113.0,...,0.767838,46.172840,22.382716,7.160494,4.888889,13.111111,18.901235,113.641975,0.592593,1

In [21]:
final_df.tail()

,date,team,opponent,score,opponentScore,moneyLine,opponentMoneyLine,total,spread,secondHalfTotal,...,FT%_opp,REB/G_opp,AST/G_opp,STL/G_opp,BLK/G_opp,TOV/G_opp,PF/G_opp,PTS/G_opp,win%_opp,home
1951,2022-04-10,Detroit,Philadelphia,106,118,215.0,-255.0,221.0,6.5,108.0,...,0.819876,42.320988,23.703704,7.654321,5.296296,11.765432,19.345679,109.839506,0.617284,0
1952,2022-04-10,Utah,Portland,111,80,-2500.0,1100.0,220.0,-17.0,113.0,...,0.760091,43.000000,22.950617,7.975309,4.419753,13.679012,21.000000,106.555556,0.333333,0
1953,2022-04-10,Dallas,San Antonio,130,120,-500.0,400.0,225.5,-10.0,109.5,...,0.750909,45.444444,27.938272,7.543210,4.938272,12.358025,18.098765,113.074074,0.419753,1
1954,2022-04-10,New York,Toronto,105,94,-110.0,-110.0,214.0,0.0,104.5,...,0.757768,45.358025,22.000000,8.987654,4.617284,11.629630,19.629630,109.580247,0.592593,1
1955,2022-04-10,Portland,Utah,80,111,1100.0,-2500.0,220.0,17.0,113.0,...,0.767838,46.172840,22.382716,7.160494,4.888889,13.111111,18.901235,113.641975,0.592593,1

In [22]:
if make_csv:
    final_df.to_csv(go_back + f'{start}_to_{end}_nba_stats_and_results.csv', index = False)

# Attempting Models for Season Long Data

In [23]:
final_df['outcome'] = (final_df['score'] > final_df['opponentScore']).astype(int)
#final_df = final_df.drop(['score', 'opponentScore', 'total', 'secondHalfTotal'], axis = 1)
final_df

,date,team,opponent,score,opponentScore,moneyLine,opponentMoneyLine,total,spread,secondHalfTotal,...,REB/G_opp,AST/G_opp,STL/G_opp,BLK/G_opp,TOV/G_opp,PF/G_opp,PTS/G_opp,win%_opp,home,outcome
0,2021-10-22,Toronto,Boston,115,83,240.0,-280.0,217.5,7.0,105.0,...,56.000000,34.000000,13.000000,9.000000,18.000000,24.000000,134.000000,0.000000,0,1
1,2021-10-22,New Orleans,Chicago,112,128,235.0,-275.0,222.5,7.0,113.5,...,48.000000,18.000000,8.000000,5.000000,17.000000,19.000000,94.000000,1.000000,0,0
2,2021-10-22,San Antonio,Denver,96,102,260.0,-310.0,222.0,7.5,108.0,...,46.000000,25.000000,9.000000,1.000000,17.000000,20.000000,110.000000,1.000000,0,0
3,2021-10-22,Oklahoma City,Houston,91,124,130.0,-150.0,221.0,2.5,107.0,...,41.000000,21.000000,13.000000,3.000000,24.000000,25.000000,106.000000,0.000000,0,0
4,2021-10-22,Washington,Indiana,135,134,110.0,-130.0,225.5,2.0,111.5,...,51.000000,29.000000,2.000000,10.000000,16.000000,24.000000,122.000000,0.000000,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1951,2022-04-10,Detroit,Philadelphia,106,118,215.0,-255.0,221.0,6.5,108.0,...,42.320988,23.703704,7.654321,5.296296,11.765432,19.345679,109.839506,0.617284,0,0
1952,2022-04-10,Utah,Portland,111,80,-2500.0,1100.0,220.0,-17.0,113.0,...,43.000000,22.950617,7.975309,4.419753,13.679012,21.000000,106.555556,0.333333,0,1
1953,2022-04-10,Dallas,San Antonio,130,120,-500.0,400.0,225.5,-10.0,109.5,...,45.444444,27.938272,7.543210,4.938272,12.358025,18.098765,113.074074,0.419753,1,1
1954,2022-04-10,New York,Toronto,105,94,-110.0,-110.0,214.0,0.0,104.5,...,45.358025,22.000000,8.987654,4.617284,11.629630,19.629630,109.580247,0.592593,1,1
1955,2022-04-10,Portland,Utah,80,111,1100.0,-2500.0,220.0,17.0,113.0,...,46.172840,22.382716,7.160494,4.888889,13.111111,18.901235,113.641975,0.592593,1,0

In [24]:
if make_csv and test:
    final_df.to_csv(go_back + 'all_data_test.csv')
else:
    final_df.to_csv(go_back + 'all_data_train.csv')

In [25]:
X = final_df.drop(['team', 'opponent', 'outcome', 'date'], axis = 1)
Y = final_df['outcome']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [26]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)
lr_train_preds = lr_model.predict(X_train)
lr_test_preds = lr_model.predict(X_test)

train_accuracy = np.mean(lr_train_preds == y_train)
test_accuracy = np.mean(lr_test_preds == y_test)
print(train_accuracy)
print(test_accuracy)

1.0
1.0

/Users/thossain64/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators = 100,
                                max_depth = 5,
                                min_samples_leaf = 5,
                                random_state = 42)
rf_model.fit(X_train, y_train)

rf_train_preds = rf_model.predict(X_train)
rf_test_preds = rf_model.predict(X_test)

rf_train_accuracy = np.mean(rf_train_preds == y_train)
rf_test_accuracy = np.mean(rf_test_preds == y_test)
print(rf_train_accuracy)
print(rf_test_accuracy)

0.9149616368286445
0.8520408163265306

Given that the baseline for predicting a game outcome is 50%, these results are not bad!